<div class="today">
    <div class="today__weather-details">
        <div class="today__weather-details__time">
            {{ currentDate | date: 'h:mm a' }}
        </div>
        <div class="today__weather-details__temp">
            {{ todayWeather.temp | number: '1.0-0' }}&#8451;
        </div>
        <div class="today__weather-details__feels-like">
            {{ 'FEELS_LIKE' | translate }}: {{ todayWeather.feelsLike | number: '1.0-0' }}°
        </div>
    </div>
    <div class="today__weather-graphic" [weatherWidgetIcon]="todayWeather">
    </div>
</div>